.holder{
    position: absolute;
    margin-right: 20px;
    color: black;
}
/* .black{
    color: black;
}
.font-l{
    font-size: large;
}
.font-xl{
    font-size: x-large;
}

.font-25{
    font-size: 2.5em;
}



.fl-col{
    display: flex;
    flex-flow: column;
}

.fl-sb{
    justify-content: space-between;
}

.mt-40{
    margin-top: 40px;
}
.mr-20{
    margin-right: 20px;
}
.ml-20{
    margin-left: 20px;
}

#card{
    margin: 10px;
}
 */
.thumbnail{
    background-image: url("../img/World.jpg");
    background-size: 100%;
    width: 500px;
    height: 300px;
    margin: 10px;
    border-radius: 40px;
    border: solid gray 1px;
}
#thumbnail_banks{
    width: 250px;
    height: 75px;
    margin: 20px;
    background: center / contain no-repeat;
}
#thumbnail_number{
    font-size: 30px;
    font-weight: 500;
    width: 90%;
    height: 50px;
    margin: 10px 20px 0 20px;
}
#thumbnail_date{
    margin-left: 50%;
    font-size: 25px;
    font-weight: 500;
}
#thumbnail_holder{
    display: block;
    margin-left: 15px;
    font-size: 25px;
    font-weight: 500;
}
#thumbnail_type{
    display: block;
    width: 100px;
    height: 50px;
    background-size: cover;
    background: center / contain no-repeat;
}
.table_holder{
    width: 400px;
}
td{
    max-width: 50%;
}
#card_table{
    margin: 10px;
}
select, input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text].date {
    width: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
button{
    background-color: #20a3c7;
    border: none;
    border-radius: 15px!important;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px 0 50px!important;
    cursor: pointer;
}
#table{
    text-align: center;
    border: solid black 1px;
    width: 100%;
}