.background_forest {
    background: center /100% no-repeat url("../images/trees.jpg");
    height: 800px;
    width: 1500px;  
}
.biosecurity {
    height: 300px;
    width: 1500px;
}
.text_align_center {
    text-align: center;
}
.pt300 {
    padding-top: 300px;
}
.bgc_green {
    background-color: rgb(171,212,190);
}
.bgc_grey { 
    background-color:  rgb(242,242,242);
}
.circle {
    width: 200px;
    height: 200px
}
.border_radius_30 {
    border-radius: 30px;
}
.border_radius_50 {
    border-radius: 50%;
}
.segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ml650 {
    margin-left: 650px;
}
.mt20 {
    margin-top: 20px;
}
.ml200 {
    margin-left: 200px;
}
.ml60 {
    margin-left: 60px;
}
.f20 {
    font-size: 20px;
}
.f40 {
    font-size: 40px;
}
.f130 {
    font-size: 130px;
}
.white_font {
    color: white;
}
.black_font {
    color: black;
}
.bold_font {
    font-weight: 700
}
.uppercase {
    text-transform: uppercase; 
}
.border_0 {
    border: 0
}
button {
    height: 60px;
    width: 200px;
}
